absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
alabaster
albucore
albumentations
ale-py
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
array_record
arviz
astropy
astropy-iers-data
asttokens
astunparse
atpublic
attrs
audioread
autograd
babel
backcall
backports.tarfile
beautifulsoup4
betterproto
bigframes
bigquery-magics
bleach
blinker
blis
blosc2
bokeh
Bottleneck
bqplot
branca
build
CacheControl
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
chex
clarabel
click
cloudpathlib
cloudpickle
cmake
cmdstanpy
colorcet
colorlover
colour
community
confection
cons
contourpy
cramjam
cryptography
cuda-python
cudf-cu12
cudf-polars-cu12
cufflinks
cuml-cu12
cupy-cuda12x
cuvs-cu12
cvxopt
cvxpy
cycler
cymem
Cython
dask
dask-cuda
dask-cudf-cu12
dask-expr
dataproc-spark-connect
datascience
db-dtypes
debugpy
decorator
defusedxml
Deprecated
diffusers
distributed
distributed-ucxx-cu12
distro
dlib
dm-tree
docker-pycreds
docopt
docstring_parser
docutils
dopamine_rl
duckdb
earthengine-api
easydict
editdistance
eerepr
einops
entrypoints
et_xmlfile
etils
etuples
executing
Farama-Notifications
fastai
fastcore
fastdownload
fastjsonschema
fastprogress
fastrlock
filelock
firebase-admin
Flask
flatbuffers
flax
folium
fonttools
frozendict
frozenlist
fsspec
future
gast
gcsfs
gdown
geemap
geocoder
geographiclib
geopandas
geopy
gin-config
gitdb
GitPython
glob2
google
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-bigquery-connection
google-cloud-bigquery-storage
google-cloud-bigtable
google-cloud-core
google-cloud-dataproc
google-cloud-datastore
google-cloud-firestore
google-cloud-functions
google-cloud-iam
google-cloud-language
google-cloud-pubsub
google-cloud-resource-manager
google-cloud-spanner
google-cloud-storage
google-cloud-translate
google-colab
google-crc32c
google-genai
google-generativeai
google-pasta
google-resumable-media
googleapis-common-protos
googledrivedownloader
graphviz
greenlet
grpc-google-iam-v1
grpc-interceptor
grpcio
grpcio-status
grpclib
gspread
gspread-dataframe
gym
gym-notices
gymnasium
h11
h2
h5netcdf
h5py
hdbscan
highspy
holidays
holoviews
hpack
html5lib
httpcore
httpimport
httplib2
httpx
huggingface-hub
humanize
hyperframe
hyperopt
ibis-framework
idna
imageio
imageio-ffmpeg
imagesize
imbalanced-learn
immutabledict
importlib_metadata
importlib_resources
imutils
inflect
iniconfig
intel-cmplr-lib-ur
intel-openmp
ipyevents
ipyfilechooser
ipykernel
ipyleaflet
ipyparallel
ipython
ipython-genutils
ipython-sql
ipytree
ipywidgets
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jax
jax-cuda12-pjrt
jax-cuda12-plugin
jaxlib
jedi
jeepney
jieba
Jinja2
jiter
joblib
jsonpatch
jsonpickle
jsonpointer
jsonschema
jsonschema-specifications
jupyter-client
jupyter-console
jupyter_core
jupyter_kernel_gateway
jupyter-leaflet
jupyter-server
jupyterlab_pygments
jupyterlab_widgets
kaggle
kagglehub
keras
keras-hub
keras-nlp
keyring
keyrings.google-artifactregistry-auth
kiwisolver
langchain
langchain-core
langchain-text-splitters
langcodes
langsmith
language_data
launchpadlib
lazr.restfulclient
lazr.uri
lazy_loader
libclang
libcudf-cu12
libcugraph-cu12
libcuml-cu12
libcuvs-cu12
libkvikio-cu12
libraft-cu12
librosa
libucx-cu12
libucxx-cu12
lightgbm
linkify-it-py
llvmlite
locket
logical-unification
lxml
Mako
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
matplotlib-venn
mdit-py-plugins
mdurl
miniKanren
missingno
mistune
mizani
mkl
ml-dtypes
mlxtend
more-itertools
moviepy
mpmath
msgpack
multidict
multipledispatch
multitasking
murmurhash
music21
namex
narwhals
natsort
nbclassic
nbclient
nbconvert
nbformat
ndindex
nest-asyncio
networkx
nibabel
nltk
notebook
notebook_shim
numba
numba-cuda
numexpr
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvcc-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-ml-py
nvidia-nccl-cu12
nvidia-nvcomp-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
nvtx
nx-cugraph-cu12
oauth2client
oauthlib
openai
opencv-contrib-python
opencv-python
opencv-python-headless
openpyxl
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
opt_einsum
optax
optree
orbax-checkpoint
orjson
osqp
packaging
pandas
pandas-datareader
pandas-gbq
pandas-stubs
pandocfilters
panel
param
parso
parsy
partd
pathlib
patsy
peewee
peft
pexpect
pickleshare
pillow
pip
pipreqs
platformdirs
plotly
plotnine
pluggy
ply
polars
pooch
portpicker
preshed
prettytable
proglog
progressbar2
prometheus_client
promise
prompt_toolkit
propcache
prophet
proto-plus
protobuf
psutil
psycopg2
ptyprocess
pure_eval
py-cpuinfo
py4j
pyarrow
pyasn1
pyasn1_modules
pycairo
pycocotools
pycparser
pydantic
pydantic_core
pydata-google-auth
pydot
pydotplus
PyDrive
PyDrive2
pyerfa
pygame
pygit2
Pygments
PyGObject
PyJWT
pylibcudf-cu12
pylibcugraph-cu12
pylibraft-cu12
pymc
pymystem3
pynndescent
pynvjitlink-cu12
pynvml
pyogrio
pyomo
PyOpenGL
pyOpenSSL
pyparsing
pyperclip
pyproj
pyproject_hooks
pyshp
PySocks
pyspark
pytensor
pytest
python-apt
python-box
python-dateutil
python-louvain
python-slugify
python-snappy
python-utils
pytz
pyviz_comms
PyYAML
pyzmq
raft-dask-cu12
rapids-dask-dependency
ratelim
referencing
regex
requests
requests-oauthlib
requests-toolbelt
requirements-parser
rich
rmm-cu12
roman-numerals-py
rpds-py
rpy2
rsa
safetensors
scikit-image
scikit-learn
scipy
scooby
scs
seaborn
SecretStorage
Send2Trash
sentence-transformers
sentencepiece
sentry-sdk
setproctitle
setuptools
shap
shapely
shellingham
simple-parsing
simplejson
simsimd
six
sklearn-compat
sklearn-pandas
slicer
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
spanner-graph-notebook
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
sqlglot
sqlparse
srsly
stack-data
stanio
statsmodels
stringzilla
sympy
tables
tabulate
tbb
tblib
tcmlib
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-datasets
tensorflow_decision_forests
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflow-metadata
tensorflow-probability
tensorflow-text
tensorstore
termcolor
terminado
text-unidecode
textblob
tf_keras
tf-slim
thinc
threadpoolctl
tifffile
timm
tinycss2
tokenizers
toml
toolz
torch
torchaudio
torchsummary
torchvision
tornado
tqdm
traitlets
traittypes
transformers
treelite
treescope
triton
tweepy
typeguard
typer
types-pytz
types-setuptools
typing_extensions
typing-inspection
tzdata
tzlocal
uc-micro-py
ucx-py-cu12
ucxx-cu12
umap-learn
umf
uritemplate
urllib3
vega-datasets
wadllib
wandb
wasabi
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
wordcloud
wrapt
wurlitzer
xarray
xarray-einstats
xgboost
xlrd
xyzservices
yarg
yarl
ydf
yellowbrick
yfinance
zict
zipp
zstandard
